 <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">

                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/mumi.dom.9"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/mummi_kz/" data-wow-delay=".5s"><i class="fa fa-instagram"></i></a></li>
                    </ul>

                    <p class="heart">
                        Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Astana
                    </p>
                </div>

            </div>
        </div>
 </footer>