{% load static %}

<header id="header">
                 <div class="container">
                     <a href="index.html" title="BOKAL">BOKAL</a>
                         <div class="right-links">
                         <ul>
                            <li><a href="cart.html"><span class="ico-products"></span>Корзина</a></li>
                            <li><a href="enter.html"><span class="ico-signout"></span>Вход</a></li>
                         </ul>
                         </div>
                 </div>
        </header>

    <nav id="menu">
        <div class="container">
            <div class="trigger"></div>
            <ul>
                <!--<li><a href="{% url 'products' %}">О нас</a></li>-->
                <!--<li><a href="products.html">Новая коллекция</a></li>-->
                <!--<li><a href="products.html">Тарелки</a></li>-->
                <!--<li><a href="products.html">Кружки</a></li>-->
                <!--<li><a href="products.html">Столовые приборы</a></li>-->
            </ul>
        </div>

    </nav>

